In [2]:
# Dependencies
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import os

In [3]:
# Import CSV
data = pd.read_csv('Car_safety.csv')

In [4]:
car_data = pd.DataFrame(data)

In [5]:
# Data contain non-numerical values need to convert 
car_data.head(10)

  Buying Maintenance  Doors  Persons  Lug_Boot  Safety  Class_Values
0  vhigh       vhigh      2        2     small     low         unacc
1  vhigh       vhigh      2        2     small     med         unacc
2  vhigh       vhigh      2        2     small    high         unacc
3  vhigh       vhigh      2        2       med     low         unacc
4  vhigh       vhigh      2        2       med     med         unacc
5  vhigh       vhigh      2        2       med    high         unacc
6  vhigh       vhigh      2        2       big     low         unacc
7  vhigh       vhigh      2        2       big     med         unacc
8  vhigh       vhigh      2        2       big    high         unacc
9  vhigh       vhigh      2        4     small     low         unacc

In [6]:
list(car_data.columns.values)

['Buying',
 'Maintenance',
 ' Doors',
 ' Persons',
 ' Lug_Boot',
 ' Safety',
 ' Class_Values']

In [27]:
from sklearn.preprocessing import LabelEncoder

In [38]:
number = LabelEncoder()
car_data['Buying'] = number.fit_transform(car_data['Buying'].astype('str'))
car_data['Maintenance'] = number.fit_transform(car_data['Maintenance'].astype('str'))
car_data[' Doors'] = number.fit_transform(car_data[' Doors'].astype('str'))
car_data[' Persons'] = number.fit_transform(car_data[' Persons'].astype('str'))
car_data[' Lug_Boot'] = number.fit_transform(car_data[' Lug_Boot'].astype('str'))
car_data[' Safety'] = number.fit_transform(car_data[' Safety'].astype('str'))
car_data[' Class_Values'] = number.fit_transform(car_data[' Class_Values'].astype('str'))

In [40]:
car_data.head(50)

    Buying  Maintenance   Doors   Persons   Lug_Boot   Safety   Class_Values
0        3            3       0         0          2        1              2
1        3            3       0         0          2        2              2
2        3            3       0         0          2        0              2
3        3            3       0         0          1        1              2
4        3            3       0         0          1        2              2
5        3            3       0         0          1        0              2
6        3            3       0         0          0        1              2
7        3            3       0         0          0        2              2
8        3            3       0         0          0        0              2
9        3            3       0         1          2        1              2
10       3            3       0         1          2        2              2
11       3            3       0         1          2        0              2
12       3            3       0         1          1        1              2
13       3            3       0         1          1        2              2
14       3            3       0         1          1        0              2
15       3            3       0         1          0        1              2
16       3            3       0         1          0        2              2
17       3            3       0         1          0        0              2
18       3            3       0         2          2        1              2
19       3            3       0         2          2        2              2
20       3            3       0         2          2        0              2
21       3            3       0         2          1        1              2
22       3            3       0         2          1        2              2
23       3            3       0         2          1        0              2
24       3            3       0         2          0        1              2
25       3            3       0         2          0        2              2
26       3            3       0         2          0        0              2
27       3            3       1         0          2        1              2
28       3            3       1         0          2        2              2
29       3            3       1         0          2        0              2
30       3            3       1         0          1        1              2
31       3            3       1         0          1        2              2
32       3            3       1         0          1        0              2
33       3            3       1         0          0        1              2
34       3            3       1         0          0        2              2
35       3            3       1         0          0        0              2
36       3            3       1         1          2        1              2
37       3            3       1         1          2        2              2
38       3            3       1         1          2        0              2
39       3            3       1         1          1        1              2
40       3            3       1         1          1        2              2
41       3            3       1         1          1        0              2
42       3            3       1         1          0        1              2
43       3            3       1         1          0        2              2
44       3            3       1         1          0        0              2
45       3            3       1         2          2        1              2
46       3            3       1         2          2        2              2
47       3            3       1         2          2        0              2
48       3            3       1         2          1        1              2
49       3            3       1         2          1        2              2

In [42]:
car_data.to_csv('car_data_numeric.csv')